.nbr{
    font-size:62px;
    margin:44px 0 0 0;
}

#line-chart{
    height: 500px;
    width: 850px;
}

.chart-container, #vmap, #line-chart{
    text-align: center;
    margin: auto;
}

#center{
    margin: 80px;
}